/* .swiper-wrapper{
    @apply mb-10;
} */
.swiper-pagination{
    @apply static mt-2 lg:px-3 flex flex-wrap justify-center lg:justify-normal items-center w-full container gap-[0.5rem] ;
}
.custom-swiper-bullet{
    @apply py-1 px-[1.5rem] border border-[#ffffff41] text-light text-sm hover:bg-[#e9292c1e] transition;
}
.swiper-pagination-bullet-active{
    @apply text-white border-[#e9292c56] bg-[#e9292c56] !important;
}
