@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  *{
    @apply text-white;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Inter', sans-serif;
  }
  ul li a.active {
    color: red !important;
   }
  body, html{
    scroll-behavior: smooth;
    @apply bg-primary scroll-smooth;
  }
  body::-webkit-scrollbar{
    display: none;
  }
  .overlay{
    background: #141414;
    background: -webkit-linear-gradient(90deg, #141414 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(90deg, #141414 0%, rgba(0, 0, 0, 0) 100%);
  }
  .overlay-1{
    background: #141414;
    background: -webkit-linear-gradient(90deg, #141414 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(90deg, #141414 0%, rgba(0, 0, 0, 0) 100%);
  }
  .overlay-2{
    background: #141414;
    background: -webkit-linear-gradient(0deg, #141414 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, #141414 0%, rgba(0, 0, 0, 0) 100%);
  }
  .button{
    @apply px-2 py-[0.5rem]
  }
  .active{
    @apply font-semibold;
  }
  .lato-font{
    font-family: 'Lato', sans-serif;
  }


  .spinner {
    animation: zoomin 1s infinite alternate-reverse;
   }

   .intro-animation{
    animation: tudum 3.4s linear;
   }
   @keyframes tudum {
    0%{
      opacity: 0;
      scale:0.7;
    }
    10%{
      opacity:0.5;
      scale:1;
    }
    15%{
      opacity:1;
    }
    20%{
      scale:1;
    }
    40%{
      scale:1;
    }
    70%{
      scale:1;
    }
    80%{
      scale:5;
      transform:translateY(5%);
    }

    83%{
      scale:7;
      transform:translateY(7%) scaleX(1.2);
    }
    85%{
      scale:10;
      transform:translateY(10%) scaleX(1.4);
    }
    88%{
      scale:13;
      transform:translateY(12%) scaleX(1.6);
    }
    90%{
      scale:15;
      transform:translateY(14%) scaleX(1.8);
    }
    95%{
      scale:20;
      transform:translateY(20%) scaleX(2.1);
    }
    100%{
      scale:30;
      transform:translateY(23%) scaleX(2.4);
    }
   }

   @keyframes zoomin {
    0% {
     transform: scale(1);
     box-shadow: 0 0 100px 20px #4b1314;
    }

    100% {
     transform: scale(1.7);
     box-shadow: 0 0 100px 20px #000;
    }
   }

   .suggestions::-webkit-scrollbar{
      width: 8px;
   }
   .suggestions::-webkit-scrollbar-thumb {
    background-color: #2c2c2cf5; /* Set your desired color */
    border-radius: 4px;
  }

  .suggestions::-webkit-scrollbar-track {
    background: transparent;
  }

  @media (max-width: 767px) {
    .button{
      @apply px-1 py-[0.3rem]
    }
   .intro-animation{
      width:5rem;
      margin-top: 4.6rem;
      height:5rem;
    }
  }
}
